.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .login-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .logo {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 120px;
      height: 40px;
    }

    /* .dotin {
      font-weight: bold;
      color: #000;
      font-size: 1.5rem;
      margin-left: 4px;
    } */

     .dotin {
      font-size: 24px;
      font-weight: bold;
      margin-left: 8px;
      color: black;
    }
  }

  .login-card {
    width: 100%;
    max-width: 360px;
    padding: 2rem;

    .login-title {
      font-weight: 600;
      margin-bottom: 3rem;
      text-align: center;
    }

    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }

    .login-terms {
      margin-top: 1rem;
      font-size: 0.85rem;
      text-align: center;

      a {
        text-decoration: none;
        color: #1976d2;
      }
    }

    .login-help {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.8rem;

      mat-icon {
        font-size: 18px;
        margin-right: 4px;
        color: #757575;
      }

      a {
        color: #1976d2;
        text-decoration: none;
      }
    }
  }

  .divider {
    margin: 1.5rem 0;
    width: 360px;
  }

  .new-account {
    display: flex;
    flex-direction: column;
    align-items: center;

    .create-account-button {
      margin-top: 1rem;
      width: 360px;
    }
  }
}
