<h2 class="category-heading">{{ selectedCategoryName }}</h2>

@if (subcategories.length > 0) {
  <div class="amazon-subcategories-grid">
    @for (sub of subcategories; track sub.subCategoryId) {
      <div class="amazon-subcategory-card">
        <a [routerLink]="['/products', sub.subCategoryId]">
          <img [src]="sub.imageUrl" [alt]="sub.subCategoryName" class="subcategory-img">
          <div class="subcategory-label">{{ sub.subCategoryName }}</div>
        </a>
      </div>
    }
  </div>
} @else {
  <pre>{{ subcategories | json }}</pre>
}