.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .register-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    /* .logo {
      width: 120px;
      height: 40px;
       background-image: url("/assets/amazon_PNG24.png"); 
      background-size: contain;
      background-repeat: no-repeat;
    } */

     .logo {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 120px;
      height: 40px;
    }

    .dotin {
      font-size: 24px;
      font-weight: bold;
      margin-left: 8px;
      color: black;
    }
  }

  .register-card {
    width: 400px;
    padding: 24px;

    h1.login-title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
    }

    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }

    .mt-3 {
      margin-top: 16px;
      text-align: center;

      a {
        color: #1976d2;
        text-decoration: none;
      }
    }
  }
}
